@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Blog Girişi</h1>

@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    <div class="form-group">
       @Html.Label("Blog Başlığı")
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogTitle)
    </div>
    <div class="form-group">
        @Html.Label("Blog Görseli")
        @Html.TextAreaFor(x => x.BlogImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogImage)
    </div>

    <div class="form-group">
        @Html.Label("Blog Thumbnail Görseli")
        @Html.TextAreaFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
      
    </div>
    <div class="form-group">
       
        @Html.Label("Blog Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, "Kategori Seçiniz", new { @class = "form-control" })
        

    </div>

    <div class="form-group">
        @Html.Label("Blog İçeriği")
        @Html.TextAreaFor(x => x.BlogContent, 15 , 3 , new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogContent)
    </div>
    <div class="form-group">
        
        <button  class="btn btn-success">Yazıyı Kaydet</button>
        <a href="/Blog/BlogListByWriter" class="btn btn-danger">İptal</a>
        </div>
    
}
